.GenPassword {
    min-height: 100vh;
    background:#222831;
}

.container {
    width: 30%;
    margin: 0 auto;
    padding-top: 5%;
}

.generator {
    background: #393e46;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 9px;
}

.generator__header {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.generator__password {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 13px 10px;
    color: #fff;
    height: 46px;
    margin-bottom: 15px;
}

.copy__btn {
    position: absolute;
    background: #fd7014;
    color: #fff;
    border: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    top: 3px;
    right: 3px;
    display: inline-block;
    align-items: center;
}

.generator__btn {
    background: #fd7014;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.form-group {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 15px;
}

#password-strength{
    color: black;
}

.checkbox * {
    color: #fd7014;
    border-color: red;
    background-color:red;
}

input[type="checkbox"]:checked  ~ .checkbox-alias .fa {  
    color: #fd7014;
}

#icon{
    position:0;
}


@media only screen and (max-width: 1027px) {
    .container {
        width: 100%;
    }

    .copy__btn{
        margin-top: 0%;
    }
    
}