*{
    color: #eee;
}

button{
    background-color:#fd7014;
    border: none;
    outline: none;
    padding: 0.5%;
    height:1%;
}

label{
    display: none;
}

.input{
    padding:1%;
    outline: none;
    border: 2px solid #eee;
    border-radius: 110px;
    background: none;
    color: #eee;
}

::placeholder{
    color: #eee;
}

::-ms-reveal{
    filter: invert(100%);
}


.form{
    padding-left: 2%;
    margin-top: 5px;
}

#username{
    margin-left: 3%;
}

#password{
    margin-left: 3%;
    margin-right: 2%;
    color: #eee;
}

#password:hover{
    border: 1px solid #fd7014;
}

#password:focus{
    border: 1px solid #fd7014;
}

#username:hover{
    border: 1px solid #fd7014;
}

#username:focus{
    border: 1px solid #fd7014;
}


@media only screen and (max-width: 1027px) {
    button{
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 8%;
    }
}

@media only screen and (max-width: 965px) {
    #password{
        display: block;
        margin: auto;
        width: 48%;
        margin-top: 5px;
    }

    #username{
        display: block;
        margin: auto;
        width: 48%;
        margin-top: 5px;
    }

    #title{
        display: block;
        margin: auto;
        width: 48%;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 620px){
    button{
        width: 12%;
    }
}

@media only screen and (max-width: 400px){
    #password{
        width: 60%;
    }

    #username{
        width: 60%;
    }

    #title{
        width: 60%;
    }

    button{
        width: 15%;
    }
}